/**
 * 撑开手机屏幕
 */
.content {
	padding-top: var(--status-bar-height);
}
/**
 * 提取公共头部
 */
.top-bar {
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: var(--status-bar-height);
	width: 100%;
	display: flex;
	align-items: center;
	height: 88rpx;
	overflow: hidden;
}
